<form class="login" [formGroup]="userForm" (ngSubmit)="login()">
    <div class="block block--left email" [ngClass]="{'block--active': email.value !== '' || emailFocus}">
        <div class="error">
            <p *ngIf="email.errors?.required && email.touched" class="error--left">Wymagane pole</p>
            <p *ngIf="email.errors?.email && email.touched" class="error--left">Nieprawidłowy email</p>
        </div>
        <input type="email" class="email_input" id="email" formControlName="email" (focus)="focus('emailFocus')"
            (blur)="onBlur('emailFocus')">
        <label for="email" class="email_text">Email</label>
    </div>
    <div class="block block--right password" [ngClass]="{'block--active': password.value !== '' || passwordFocus}">
        <label for="password" class="password_text">Hasło</label>
        <input type="password" class="password_input" id="password" formControlName="password"
            (focus)="focus('passwordFocus')" (blur)="onBlur('passwordFocus')">
        <div class="error">
            <p *ngIf="password.errors?.required && password.touched" class="error--right">Wymagane pole</p>
        </div>
    </div>
    <button type="submit" [disabled]="userForm.invalid || submitDisable"><span class="text">Zaloguj</span></button>
</form>