<form class="login" [formGroup]="userForm" (ngSubmit)="login()">
    <div class="block block--left email">
        <input type="email" class="email_input" id="email" formControlName="email">
        <label for="email" class="email_text">Email</label>
    </div>
    <div class="block block--right password">
        <label for="password" class="password_text">Hasło</label>
        <input type="password" class="password_input" id="password" formControlName="password">
    </div>
    <button type="submit" [disabled]="userForm.invalid">Zaloguj</button>
</form>