@import "src/assets/colors";

.edit {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-color: #000000b7;
}
.background {
    width: 90%;
    max-width: 600px;
    margin-top: 2rem;
    padding: 2px 3px;
    clip-path: polygon(0 0, calc(100% - 25px) 0, 100% 100%, 25px 100%);
    background-color: $redColor;
}
.container {
    padding: 1rem;
    clip-path: polygon(0 0, calc(100% - 25px) 0, 100% 100%, 25px 100%);
    background-color: #fff;
    .title {
        font-size: 1.1rem;
    }
    .user {
        max-width: 50%;
        margin: 1rem auto;
        padding: 2px;
        overflow: auto;
        font-size: 1rem;
        text-align: center;
        color: black;
        scrollbar-color: $greyColor transparent;
        p{
            white-space: nowrap;
        }
    }
    .time {
        margin: 1rem 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .time--start,
    .time--end {
        margin: 0.5rem 1rem;
    }
    input[type="time"],
    select {
        margin-top: 0.5rem;
        padding: 0.2rem;
        font-size: 1rem;
        border: 1px solid $greyColor;
    }
    select {
        padding: 0.3rem;
        font-size: 0.85rem;
    }
    .actions {
        margin: 2rem;
        display: flex;
        justify-content: space-around;
        .btn {
            width: 40px;
            height: 30px;
            padding: 0.3rem;
            border-width: 2px;
            font-size: 0.8rem;
            cursor: pointer;
            transition: color 0.25s linear, background-color 0.25s linear;
        }
        .btn--yes {
            border-style: none solid solid none;
            background-color: #fff;
            border-color: $greenColor;
            transform: skewX(20deg);
            .fa-check {
                transform: skewX(-20deg);
            }
            &:hover {
                background-color: $greenColor;
                color: #fff;
            }
            &:active {
                background-color: #fff;
                border-style: solid;
                color: $greenColor;
            }
        }
        .btn--no {
            border-style: solid;
            background-color: $redColor;
            border-color: $redColor;
            color: #fff;
            transform: skewX(-20deg);
            .fa-times {
                transform: skewX(20deg);
            }
            &:hover {
                border-style: solid;
                background-color: #fff;
                color: $redColor;
            }
            &:active {
                border-style: none none solid solid;
                color: $blackColor;
            }
        }
        .btn[disabled] {
            border-style: solid;
            border-color: $greyColor;
            color: #fff;
            background-color: $greyColor;
            cursor: default;
        }
    }
    .error {
        max-width: 153px;
        margin: 0.3rem auto;
        font-size: 0.8rem;
        color: $redColor;
    }
}
