@import "src/assets/colors";

.add,
.search {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    align-items: center;
    max-width: 1200px;
    .title {
        font-size: 1rem;
    }
    .mr-x {
        margin: 0 1rem;
    }
}
.add {
    margin: 2rem auto 0;
}
.search {
    margin: 0rem auto 2rem;
    flex-direction: column;
    text-align: center;
    label {
        position: absolute;
        bottom: 10%;
        left: 50%;
        width: 100%;
        transform: translate(-50%);
        transition: $animationHeight;
        color: $greyColor;
        &.active {
            bottom: 100%;
            color: $blueColor;
        }
        &.valid {
            color: $yellowColor;
        }
    }
    .search_input {
        position: relative;
        margin: 1.5rem auto 0;
    }
    .search_text {
        position: relative;
        width: 200px;
        padding: 2px;
        z-index: 1;
        border-style: solid;
        border-width: 2px;
        border-color: transparent transparent $greyColor;
        color: $blackColor;
        background-color: transparent;
        text-align: center;
        &:focus {
            border-color: transparent transparent $blueColor;
        }
    }
}
.table {
    height: 100%;
    max-height: 0;
    margin: 1rem 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    transition: $animationHeight;
}
.table_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    .form_cell {
        position: relative;
        margin: 1rem 1rem 2rem;
    }
    label {
        position: absolute;
        top: 0;
        color: $greyColor;
        transition: top $animationHeight;
        &.firstName_text {
            left: 6%;
        }
        &.lastName_text,
        &.telephone_text {
            left: 50%;
            transform: translateX(-50%);
        }
        &.price_text {
            left: 0%;
        }
        &.active {
            top: -75%;
            color: $blueColor;
        }
        &.valid--add {
            color: $yellowColor;
        }
    }
    input {
        position: relative;
        width: 100px;
        padding: 2px;
        border-style: solid;
        border-width: 2px;
        z-index: 1;
        background-color: transparent;
        &[id*="firstName"] {
            border-color: transparent transparent $greyColor $greyColor;
            &:focus {
                border-color: transparent transparent $blueColor $blueColor;
            }
        }
        &[id*="lastName"],
        &[id*="telephone"] {
            border-color: transparent transparent $greyColor;
            text-align: center;
            &:focus {
                border-color: transparent transparent $blueColor;
            }
        }
        &[type="number"]::-webkit-outer-spin-button,
        &[type="number"]::-webkit-inner-spin-button,
        &[type="number"] {
            margin: 0;
            -webkit-appearance: none;
            -moz-appearance: textfield;
        }
        &[id*="price"] {
            width: 45px;
            border-color: transparent $greyColor $greyColor transparent;
            text-align: right;
            &:focus {
                border-color: transparent $blueColor $blueColor transparent;
            }
        }
    }
    .currency {
        position: absolute;
        top: 0;
        right: -10%;
        transform: translateX(100%);
        color: $greyColor;
        &.active {
            color: $blueColor;
        }
        &.valid--add {
            color: $yellowColor;
        }
    }
}
.table--active {
    max-height: 11rem;
    padding-top: 2rem;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-top: 2px solid $redColor;
    .info {
        margin-top: 3rem;
        text-transform: uppercase;
        color: $redColor;
    }
    .player {
        width: 86%;
        max-width: 38rem;
        margin: 1rem auto;
        padding-left: 0.6rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        border-style: none none solid solid;
        border-width: 2px;
        border-color: $redColor;
        transform: skewX(-10deg);
        transition: $animationHeight;
    }
    .player_info {
        display: flex;
        justify-content: space-between;
        color: $greyColor;
        font-size: 0.8rem;
        .title,
        .text {
            display: inline-block;
        }
        .text {
            margin: 0 2px;
            overflow: auto;
            color: $yellowColor;
            font-size: 1rem;
            white-space: nowrap;
            scrollbar-color: $scrollbarColor;
            &::-webkit-scrollbar-track {
                background-color: transparent;
            }
            &::-webkit-scrollbar-thumb {
                background-color: $greyColor;
            }
            @media (max-width: 992px) {
                padding-bottom: 7px;
            }
        }
    }
    .player--active {
        border-width: 3px;
        border-color: $blueColor;
        box-shadow: -3px 3px 10px $blackColor;
    }
    .block {
        transform: skewX(10deg);
    }
    .block--player {
        max-width: 11rem;
        width: calc(100% - 8rem);
    }
    .block--action {
        flex-basis: 8rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        .btn,
        .link {
            flex-basis: 40%;
            margin: 3px;
        }
        .btn:nth-child(2n),
        .link:nth-child(2n) {
            transform: skewY(10deg);
            .fas,
            .far {
                transform: skewY(-10deg);
            }
        }
        .btn:nth-child(2n + 1),
        .link:nth-child(2n + 1) {
            transform: skewY(-10deg);
            .fas,
            .far {
                transform: skewY(10deg);
            }
        }
    }
    .block--edit {
        padding-top: 0.5rem;
        flex-basis: 100%;
        .table_form {
            transition: $animationHeight;
            height: 100%;
            max-height: 0rem;
            overflow: hidden;
        }
        .form_cell {
            margin: 0.8rem 0rem 2rem;
        }
        .form--active {
            padding-top: 0.5rem;
            max-height: 9.5rem;
        }
    }
}
.error {
    position: absolute;
    width: max-content;
    margin: 0;
    font-size: 0.8rem;
    color: $redColor;
    .text--left {
        position: relative;
        right: 8%;
    }
}
.link {
    padding: 3px;
    font-size: 1.2rem;
    transition: $animationBtn;
    @media (min-width: 813px) {
        display: none;
    }
}
.link--call {
    color: $greenColor;
    &:hover {
        background-color: $greenColor;
    }
}
.link--sms {
    color: $yellowColor;
    &:hover {
        background-color: $yellowColor;
    }
}

.btn--add,
.btn--edit,
.btn--delete,
.btn--confirm,
.link {
    &:hover {
        color: #fff;
    }
}

.btn {
    padding: 3px;
    font-size: 1rem;
    border-style: solid;
    border-width: 2px;
    background-color: #fff;
    cursor: pointer;
    transition: $animationBtn;
    &:disabled,
    &:disabled:focus,
    &:disabled:hover {
        color: #fff;
        border-color: $greyColor !important;
        background-color: $greyColor !important;
        cursor: default;
    }
}
.btn--open {
    height: 25px;
    width: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: $greyColor;
    border-color: $greyColor;
    border-radius: 50%;
    background-color: transparent;
    &:hover {
        color: $redColor;
    }
    &.active {
        color: $redColor;
        border-color: $redColor;
        transform: rotate(180deg);
    }
}
.btn--add {
    margin-left: 2.5rem;
    border-color: transparent transparent $greenColor $greenColor;
    transform: skewX(-20deg);
    .fas {
        transform: skewX(20deg);
    }
    &:hover {
        background-color: $greenColor;
    }
    &:active {
        color: $greenColor;
        border-color: $greenColor;
        background-color: #fff;
    }
}
.btn--edit {
    border-color: transparent;
    &:hover {
        background-color: $blackColor;
    }
    &--active {
        color: #fff;
        background-color: $blackColor;
    }
}
.btn--delete {
    border-color: transparent;
    color: $redColor;
    &:hover {
        background-color: $redColor;
    }
}
.btn--confirm {
    border-color: transparent $yellowColor $yellowColor transparent;
    transform: skewX(20deg);
    .fas {
        transform: skewX(-20deg);
    }
    &:hover {
        background-color: $yellowColor;
    }
}
