<div class="app--container">
    <div class="add">
        <h2 class="title mr-x">Dodaj gracza</h2>
        <button
            type="button"
            class="btn btn--open mr-x"
            [ngClass]="{'active' : newPlayerActive}"
            (click)="toggleInput()">
            <i class="fas fa-chevron-down"></i>
        </button>
        <div
            class="table"
            [ngClass]="{'table--active': newPlayerActive}">
            <form
                class="table_form"
                [formGroup]="newUserForm"
                (ngSubmit)="submit()">
                <div class="form_cell firstName">
                    <label
                        for="firstName"
                        class="firstName_text"
                        [ngClass]="{'active': firstActive || firstName.value, 'valid--add': (!firstName.errors && firstName.dirty) }">
                        Imię
                    </label>
                    <input
                        type="text"
                        id="firstName"
                        maxlength="15"
                        formControlName="firstName"
                        (focus)="focus('firstActive')"
                        (blur)="onBlure('firstActive')">
                    <div class="error">
                        <p *ngIf="firstName.errors?.maxlength || firstName.value.length === 15">Max 15 znaków</p>
                        <p *ngIf="firstName.errors?.required && firstName.touched">Wymagane pole</p>
                    </div>
                </div>
                <div class="form_cell lastName">
                    <label
                        for="lastName"
                        class="lastName_text"
                        [ngClass]="{'active': lastActive || lastName.value,
                                    'valid--add': (!lastName.errors && lastName.dirty) }">
                        Nazwisko
                    </label>
                    <input
                        type="text"
                        id="lastName"
                        maxlength="30"
                        formControlName="lastName"
                        (focus)="focus('lastActive')"
                        (blur)="onBlure('lastActive')">
                    <div class="error">
                        <p *ngIf="lastName.errors?.maxlength || lastName.value.length === 30">Max 30 znaków</p>
                        <p *ngIf="lastName.errors?.required && lastName.touched">Wymagane pole</p>
                    </div>
                </div>
                <div class="form_cell price">
                    <label
                        for="price"
                        class="price_text"
                        [ngClass]="{'active': priceActive || price.value, 'valid--add': price.value  }">
                        Cena
                    </label>
                    <p
                        class="currency"
                        [ngClass]="{'active': priceActive || price.value, 'valid--add': price.value  }">
                        zł
                    </p>
                    <input
                        min="0"
                        max="999"
                        maxlength="3"
                        type="number"
                        id="price"
                        formControlName="price"
                        (focus)="focus('priceActive')"
                        (blur)="onBlure('priceActive')">
                    <div class="error">
                        <p *ngIf="price.errors?.max">Max 999zł</p>
                        <p
                            class="text--left"
                            *ngIf="price.errors?.priceComa">
                            Do setnych
                        </p>
                    </div>
                </div>
                <div class="form_cell telephone">
                    <label
                        for="telephone"
                        class="telephone_text"
                        [ngClass]="{'active': telephoneActive || telephone.value, 'valid--add': telephone.value  }">
                        Telefon
                    </label>
                    <input
                        type="tel"
                        id="telephone"
                        formControlName="telephone"
                        (focus)="focus('telephoneActive')"
                        (blur)="onBlure('telephoneActive')">
                    <div class="error">
                        <p *ngIf="telephone.errors?.telephoneValidator">Tylko liczby</p>
                        <p *ngIf="telephone.errors?.telephoneLength">Wymagane 9 cyfr</p>
                    </div>
                </div>
                <div class="action">
                    <button
                        type="submit"
                        class="btn btn--add"
                        [disabled]="newUserForm.invalid">
                        <i class="fas fa-user-plus"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="search">
        <h2 class="title">Wyszukaj gracza</h2>
        <div class="search_input">
            <label
                for="search_text"
                [ngClass]="{'active': searchActive || search, 'valid': search}">
                Wpisz gracza
            </label>
            <input
                class="search_text"
                id="search_text"
                type="text"
                [(ngModel)]="search"
                (focus)="focus('searchActive')"
                (blur)="onBlure('searchActive')">
        </div>
    </div>
    <div class="container">
        <div
            class="info"
            *ngIf="users.length === 0">
            <p>Brak zawodników w bazie danych</p>
        </div>
        <div
            class="player"
            [ngClass]="{'player--active': openUsers[i]}"
            *ngFor="let user of users | searchPipe:search ; let i= index">
            <div class="block block--player">
                <div class="player_info">
                    <p class="title">Imię:</p>
                    <p class="text">{{user.firstName}}</p>
                </div>
                <div class="player_info">
                    <p class="title">Nazwisko:</p>
                    <p class="text">{{user.lastName}}</p>
                </div>
                <p class="player_info">
                    Cena:
                    <span class="text">{{user.price}}zł</span>
                </p>
                <p
                    class="player_info"
                    *ngIf="user.telephone">
                    Tel.:
                    <span class="text">{{user.telephone |telephonePipe}}</span>
                </p>
            </div>
            <div class="block block--action">
                <a
                    *ngIf="user.telephone"
                    href="tel:+48-{{user.telephone | telephonePipe}}"
                    class="link link--call">
                    <i class="fas fa-phone"></i>
                </a>
                <a
                    *ngIf="user.telephone"
                    [href]="sanitizeSMS('sms:+48-'+(user.telephone|telephonePipe))"
                    class="link link--sms">
                    <i class="far fa-envelope"></i>
                </a>
                <button
                    type="button"
                    class="btn btn--edit"
                    [ngClass]="{'btn--edit--active': openUsers[i]}"
                    (click)="openEdit(i, user)">
                    <i class="fas fa-user-edit"></i>
                </button>
                <button
                    type="button"
                    class="btn btn--delete"
                    (click)="deleteUser(user)">
                    <i class="far fa-trash-alt"></i>
                </button>
            </div>
            <div class="block block--edit">
                <form
                    class="table_form"
                    [ngClass]="{'form--active' : openUsers[i]}"
                    [formGroup]="editUserForm"
                    (ngSubmit)="updateUser()">
                    <div class="form_cell firstName">
                        <label
                            for="firstName"
                            class="firstName_text"
                            [ngClass]="{'active': editFirst || editFirstName.value, 
                                    'valid--add': (!editFirstName.errors && editFirstName.value) }">
                            Imię
                        </label>
                        <input
                            type="text"
                            id="firstName"
                            maxlength="15"
                            formControlName="firstName"
                            (focus)="focus('editFirst')"
                            (blur)="onBlure('editFirst')">
                        <div class="error">
                            <p *ngIf="editFirstName.errors?.maxlength || editFirstName.value?.length === 15">Max 15 znaków</p>
                            <p *ngIf="editFirstName.errors?.required && editFirstName.touched">Wymagane pole</p>
                        </div>
                    </div>
                    <div class="form_cell lastName">
                        <label
                            for="lastName"
                            class="lastName_text"
                            [ngClass]="{'active': editLast || editLastName.value,
                                    'valid--add': (!editLastName.errors && editLastName.value) }">
                            Nazwisko
                        </label>
                        <input
                            type="text"
                            id="lastName"
                            maxlength="30"
                            formControlName="lastName"
                            (focus)="focus('editLast')"
                            (blur)="onBlure('editLast')">
                        <div class="error">
                            <p *ngIf="editLastName.errors?.maxlength || editLastName.value?.length === 30">Max 30 znaków</p>
                            <p *ngIf="editLastName.errors?.required && editLastName.touched">Wymagane pole</p>
                        </div>
                    </div>
                    <div class="form_cell price">
                        <label
                            for="price"
                            class="price_text"
                            [ngClass]="{'active': editedPrice || editPrice.value, 'valid--add': editPrice.value  }">
                            Cena
                        </label>
                        <p
                            class="currency"
                            [ngClass]="{'active': editedPrice || editPrice.value, 'valid--add': editPrice.value  }">
                            zł
                        </p>
                        <input
                            min="0"
                            max="200"
                            maxlength="3"
                            type="number"
                            id="price"
                            formControlName="price"
                            (focus)="focus('editedPrice')"
                            (blur)="onBlure('editedPrice')">
                        <div class="error">
                            <p *ngIf="editPrice.errors?.max">Max 999zł</p>
                            <p
                                class="text--left"
                                *ngIf="editPrice.errors?.priceComa">
                                Do setnych
                            </p>
                        </div>
                    </div>
                    <div class="form_cell telephone">
                        <label
                            for="telephone"
                            class="telephone_text"
                            [ngClass]="{'active': editTel || editTelephone.value, 'valid--add': editTelephone.value  }">
                            Telefon
                        </label>
                        <input
                            type="tel"
                            id="telephone"
                            formControlName="telephone"
                            (focus)="focus('editTel')"
                            (blur)="onBlure('editTel')">
                        <div class="error">
                            <p *ngIf="editTelephone.errors?.telephoneValidator">Tylko liczby</p>
                            <p *ngIf="editTelephone.errors?.telephoneLength">Wymagane 9 cyfr</p>
                        </div>
                    </div>
                    <div class="action">
                        <button
                            type="submit"
                            class="btn btn--confirm"
                            [disabled]="editUserForm.invalid">
                            <i class="fas fa-check"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
