.grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(60px, 1fr) repeat(3, minmax(250px, 1fr));
    grid-template-rows: repeat(49, 60px);
    grid-template-areas: "title title title title";
    grid-auto-flow: column;
    .title {
        grid-area: title;
        grid-row: 1 / 2;
    }
    .border {
        display: flex;
        align-items: center;
        justify-content: center;
        border-left: 1px solid #000000;
        border-right: 1px solid #000000;
        color: #dddddd;
        &:nth-child(2n + 1) {
            border-top: 1px solid #dddddd;
            border-bottom: 1px solid #000000;
        }
        &:nth-child(2n) {
            border-top: 1px solid #000000;
            border-bottom: 1px solid #dddddd;
        }
    }
    .border--hours {
        &:nth-child(2n + 1) {
            border-top: unset;
        }
        &:nth-child(2n) {
            border-bottom: unset;
        }
    }
}
