@import 'src/assets/colors';

.grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100px repeat(3, minmax(250px, 1fr));
    grid-template-rows: repeat(49, 65px);
    grid-template-areas: "title title title title";
    grid-auto-flow: column;
    .title {
        grid-area: title;
        grid-row: 1 / 2;
    }
    .border {
        display: flex;
        align-items: center;
        justify-content: center;
        border-left: 1px solid $blackColor;
        border-right: 1px solid $blackColor;
        color: $greyColor;
        &:nth-child(2n + 1) {
            border-top: 1px solid $greyColor;
            border-bottom: 1px solid $blackColor;
        }
        &:nth-child(2n) {
            border-top: 1px solid $blackColor;
            border-bottom: 1px solid $greyColor;
        }
    }
    .border--hours {
        &:nth-child(2n + 1) {
            border-top: unset;
        }
        &:nth-child(2n) {
            border-bottom: unset;
        }
    }
    .open {
        color: $blueColor;
    }
}
