$redColor: #b91616de;
$greenColor: #509c1ede;
$greyColor: #bbbbbbde;
$blueColor: #4c9dfade;
$blackColor: #0a0a0ade;
$basicColor: #1f1f1fde;
$yellowColor: #a89a16de;
$scrollbarColor: $greyColor transparent;
$animationCell: 0.3s linear;
$animationBtn: 0.25s linear;
$animationHeight: 0.3s linear;