$redColor: #b91616;
$greenColor: #509c1e;
$greyColor: #bbbbbb;
$blueColor: #4c9dfa;
$blackColor: #0a0a0a;
$yellowColor: #a89a16;
$scrollbarColor: $greyColor transparent;
$animationCell: 0.3s linear;
$animationBtn: 0.25s linear;
$animationHeight: 0.3s linear;