@import "src/assets/colors";
:root {
    font-size: 16px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    scrollbar-color: $redColor $blackColor;
    scrollbar-width: thin;
}
body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}
