<div class="container app--container">
    <p class="title">Wersja demo aplikacji</p>
    <p class="subtitle">Jest to system rezerwacji kortów</p>
    <p>Obsługa:</p>
    <ul>
        <li>Minimalna szerokość to 375px</li>
        <li>
            Login i hasło:
            <strong>demo@demo.com</strong>
        </li>
        <li>
            Przy dodawaniu rezerwacji i korzystaniu z opcji "Nowy gracz", gracz jeśli nie istniej w bazie danych to zostaje do niej dodany, pod warunkiem nieprzekroczenia limitu graczy.
        </li>
        <li>
            Podwójne kliknięcie na puste pole otwiera okno z dodawaniem rezerwacji na określoną godzinę.
        </li>
        <li>
            Obsługa grafiku: by przenieść rezerwacje należy kliknąć w pole z godzinami lub imieniem a następnie w wolne miejsce.
        </li>
        <li>
            Czerwone strzałki w rezerwacji skracają czas trwania o 30 min odpowiednio od czasu rozpoczęcie i zakończenia.
        </li>
        <li>
            Zielone strzałki w rezerwacji wydłużają czas trwania o 30 min odpowiednio od czasu rozpoczęcie i zakończenia
        </li>
        <li>
            Data rezerwacji ograniczona przedziałem 13-14.11.2020
        </li>
        <li>Limit graczy wynosi 10</li>
    </ul>
    <p class="title">Demo version</p>
    <p class="subtitle">
        It is a tennis court reservation system.
    </p>
    <p>Handling:</p>
    <ul>
        <li>The minimal responsive width is 375px.</li>
        <li>
            Login and password:
            <strong>demo@demo.com</strong>
        </li>
        <li>
            Double click on empty cell will open adding reservation form.
        </li>
        <li>
            Handling schedule: to transfer reservation, click on the field with hours or name and then click on the free space.
        </li>
        <li>
            Reservation date limited between 13-14.11.2020
        </li>
        <li>
            Red arrows in reservation reduce time by 30 minutes.
        </li>
        <li>
            Green arrows in reservation increase time duration by 30 minutes.
        </li>
        <li>The player limit is 10.</li>
    </ul>
</div>
