@import 'src/assets/colors';
.container{
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    *{
        margin: 5px 0;
    }
    .title{
        margin-top: 1rem;
        font-size: 1.5rem;
    }
    .subtitle{
        font-size: 1.2rem;
    }
    strong{
        font-weight: 900;
        color: $blueColor;
    }
    li{
        text-align: justify;
        color: $blackColor;
    }
}