<app-info></app-info>
<app-edit></app-edit>
<app-add></app-add>
<div class="actions">
    <div class="time">
        <label for="time">Dzień:</label>
        <input
            type="date"
            class="time_input"
            id="time"
            min="2020-11-13"
            max="2020-11-14"
            [(ngModel)]="date"
            (change)="inputChange()">
    </div>
    <button
        type="button"
        class="btn btn--add"
        (click)="userAdd()">
        <span class="btn_text">Dodaj rezerwacje</span>
    </button>
</div>
<div class="actions actions--fixed">
    <button
        type="button"
        class="btn btn--add"
        (click)="userAdd()">
        <span class="btn_text">Dodaj</span>
    </button>
</div>
<div class="container">
    <div
        #timeTable
        class="timeTable">
        <div class="backgroundGrid">
            <app-background-grid
                #backGrid
                [hours]="hours"></app-background-grid>
        </div>
        <div class="schedule">
            <div class="title">
                <p>Godzina</p>
            </div>
            <div
                #hour
                *ngFor="let element of hours"
                class="hour"
                [attr.data-row-start]="element.rowStart"
                [attr.data-cell-start]="offsetTop(this.hour)"
                [attr.data-cell-end]="offsetTop(this.hour) + 65">
                <p class="number">{{ element.hour }}</p>
            </div>
        </div>
        <div
            data-drop-zone="true"
            data-court="1"
            class="reservation schedule courtOne"
            (click)="dropReservation($event)"
            [ngStyle]="{ cursor: isOpen ? 'pointer' : null }">
            <div class="title">
                <p>Kort 1</p>
            </div>
            <div
                class="cell"
                data-draggable="true"
                *ngFor="let reservation of courtOne"
                [ngClass]="{ 'cell--active': reservation.isActive }"
                [ngStyle]="{
                    gridRowStart: reservation.rowStart,
                    gridRowEnd: reservation.rowEnd}">
                <div class="cell_top">
                    <div class="cell_actions">
                        <button
                            type="button"
                            class="btn btn--plus"
                            [disabled]="!!draggableItem || reservation.rowStart === 2"
                            (click)="minutesPlus(reservation, 'start')">
                            <i class="fas fa-chevron-up"></i>
                        </button>
                        <button
                            type="button"
                            class="btn btn--minus"
                            [disabled]="!!draggableItem || reservation.duration === 0.5"
                            (click)="minutesMinus(reservation, 'start')">
                            <i class="fas fa-chevron-down"></i>
                        </button>
                    </div>
                    <div
                        class="time"
                        (click)="dragStart(reservation)">
                        <p class="text">
                            {{ reservation.timeStart }} - {{ reservation.timeEnd }}
                        </p>
                    </div>
                </div>
                <div
                    class="cell_mid"
                    (click)="dragStart(reservation)">
                    <p class="user_info">
                        {{ reservation.user.firstName }} {{ reservation.user.lastName }}
                    </p>
                </div>
                <div class="cell_bot cell_actions">
                    <button
                        type="button"
                        class="btn btn--delete"
                        [disabled]="!!draggableItem"
                        (click)="userDelete(reservation, true)">
                        <i class="far fa-trash-alt"></i>
                    </button>
                    <button
                        type="button"
                        class="btn btn--edit"
                        [disabled]="!!draggableItem"
                        (click)="userEdit(reservation, true)">
                        <i class="fas fa-user-edit"></i>
                    </button>
                    <button
                        type="button"
                        class="btn btn--plus"
                        [disabled]="!!draggableItem || reservation.rowEnd === 50"
                        (click)="minutesPlus(reservation, 'end')">
                        <i class="fas fa-chevron-down"></i>
                    </button>
                    <button
                        type="button"
                        class="btn btn--minus"
                        [disabled]="!!draggableItem || reservation.duration === 0.5"
                        (click)="minutesMinus(reservation, 'end')">
                        <i class="fas fa-chevron-up"></i>
                    </button>
                </div>
            </div>
        </div>
        <div
            data-drop-zone="true"
            data-court="2"
            class="reservation schedule courtTwo"
            (click)="dropReservation($event)"
            [ngStyle]="{ cursor: isOpen ? 'pointer' : null }">
            <div class="title">
                <p>Kort 2</p>
            </div>
            <div
                class="cell"
                data-draggable="true"
                *ngFor="let reservation of courtTwo"
                [ngStyle]="{
    gridRowStart: reservation.rowStart,
    gridRowEnd: reservation.rowEnd
}"
                [ngClass]="{ 'cell--active': reservation.isActive }">
                <div class="cell_top">
                    <div class="cell_actions">
                        <button
                            type="button"
                            class="btn btn--plus"
                            [disabled]="!!draggableItem || reservation.rowStart === 2"
                            (click)="minutesPlus(reservation, 'start')">
                            <i class="fas fa-chevron-up"></i>
                        </button>
                        <button
                            type="button"
                            class="btn btn--minus"
                            [disabled]="!!draggableItem || reservation.duration === 0.5"
                            (click)="minutesMinus(reservation, 'start')">
                            <i class="fas fa-chevron-down"></i>
                        </button>
                    </div>
                    <div
                        class="time"
                        (click)="dragStart(reservation)">
                        <p class="text">
                            {{ reservation.timeStart }} - {{ reservation.timeEnd }}
                        </p>
                    </div>
                </div>
                <div
                    class="cell_mid"
                    (click)="dragStart(reservation)">
                    <p class="user_info">
                        {{ reservation.user.firstName }} {{ reservation.user.lastName }}
                    </p>
                </div>
                <div class="cell_bot cell_actions">
                    <button
                        type="button"
                        class="btn btn--delete"
                        [disabled]="!!draggableItem"
                        (click)="userDelete(reservation, true)">
                        <i class="far fa-trash-alt"></i>
                    </button>
                    <button
                        type="button"
                        class="btn btn--edit"
                        [disabled]="!!draggableItem"
                        (click)="userEdit(reservation, true)">
                        <i class="fas fa-user-edit"></i>
                    </button>
                    <button
                        type="button"
                        class="btn btn--plus"
                        [disabled]="!!draggableItem || reservation.rowEnd === 50"
                        (click)="minutesPlus(reservation, 'end')">
                        <i class="fas fa-chevron-down"></i>
                    </button>
                    <button
                        type="button"
                        class="btn btn--minus"
                        [disabled]="!!draggableItem || reservation.duration === 0.5"
                        (click)="minutesMinus(reservation, 'end')">
                        <i class="fas fa-chevron-up"></i>
                    </button>
                </div>
            </div>
        </div>
        <div
            data-drop-zone="true"
            data-court="dressroom"
            class="reservation schedule dressRoom"
            (click)="dropReservation($event)"
            [ngStyle]="{ cursor: isOpen ? 'pointer' : null }">
            <div class="title">
                <p>Zapasowi</p>
            </div>
            <div
                class="cell"
                data-draggable="true"
                *ngFor="let reservation of dressroom"
                [ngStyle]="{
    gridRowStart: reservation.rowStart,
    gridRowEnd: reservation.rowEnd
}"
                [ngClass]="{ 'cell--active': reservation.isActive }">
                <div class="cell_top">
                    <div class="cell_actions">
                        <button
                            type="button"
                            class="btn btn--plus"
                            [disabled]="!!draggableItem || reservation.rowStart === 2"
                            (click)="minutesPlus(reservation, 'start')">
                            <i class="fas fa-chevron-up"></i>
                        </button>
                        <button
                            type="button"
                            class="btn btn--minus"
                            [disabled]="!!draggableItem || reservation.duration === 0.5"
                            (click)="minutesMinus(reservation, 'start')">
                            <i class="fas fa-chevron-down"></i>
                        </button>
                    </div>
                    <div
                        class="time"
                        (click)="dragStart(reservation)">
                        <p class="text">
                            {{ reservation.timeStart }} - {{ reservation.timeEnd }}
                        </p>
                    </div>
                </div>
                <div
                    class="cell_mid"
                    (click)="dragStart(reservation)">
                    <p class="user_info">
                        {{ reservation.user.firstName }} {{ reservation.user.lastName }}
                    </p>
                </div>
                <div class="cell_bot cell_actions">
                    <button
                        type="button"
                        class="btn btn--delete"
                        [disabled]="!!draggableItem"
                        (click)="userDelete(reservation, true)">
                        <i class="far fa-trash-alt"></i>
                    </button>
                    <button
                        type="button"
                        class="btn btn--edit"
                        [disabled]="!!draggableItem"
                        (click)="userEdit(reservation, true)">
                        <i class="fas fa-user-edit"></i>
                    </button>
                    <button
                        type="button"
                        class="btn btn--plus"
                        [disabled]="!!draggableItem || reservation.rowEnd === 50"
                        (click)="minutesPlus(reservation, 'end')">
                        <i class="fas fa-chevron-down"></i>
                    </button>
                    <button
                        type="button"
                        class="btn btn--minus"
                        [disabled]="!!draggableItem || reservation.duration === 0.5"
                        (click)="minutesMinus(reservation, 'end')">
                        <i class="fas fa-chevron-up"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
