@import "src/assets/colors";

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .time_input {
    margin: 1rem 0.5rem;
    padding: 0.2rem;
    font-size: 1rem;
  }
}
.actions--fixed {
  position: fixed;
  bottom: 60px;
  right: 0;
  margin: 1rem 0.5rem;
  z-index: 2;
  @media (min-width: 865px) {
    right: calc(50% - 430px);
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0.5rem;
  overflow: auto;
}
.timeTable {
  position: relative;
  min-width: 350px;
  display: grid;
  grid-template-columns: 100px repeat(3, 250px);
  background-color: transparent;
}
.schedule {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(49, 65px);
  row-gap: 0;
  column-gap: 0;
  cursor: pointer;
}
.hour {
  .number {
    margin: 5px auto;
    text-align: center;
  }
  &:nth-child(2n + 1) {
    color: transparent;
  }
}
.title {
  margin-bottom: 1rem;
  align-self: end;
  text-align: center;
  color: $yellowColor;
}
.cell {
  min-height: 0px;
  margin: 2px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  overflow: hidden;
  border-width: 2px;
  border-color: $redColor;
  border-style: none none solid solid;
  background-color: #ffffff;
  transform: scale(1) translateX(0);
  transition: $animationCell;
  .cell_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .cell_actions {
      flex-basis: 30%;
    }
    .time {
      height: 100%;
      padding-right: 2px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-basis: 50%;
      color: #fff;
      background-color: $redColor;
      clip-path: polygon(0 0, 100% 0%, 100% 100%, 20px 100%);
      transition: $animationCell;
      cursor: pointer;
    }
  }
  .cell_mid {
    margin: 2px 0;
    flex-grow: 1;
    overflow: auto;
    cursor: pointer;
    scrollbar-color: $greyColor transparent;
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $greyColor;
    }
    .user_info {
      text-align: center;
    }
  }
  .cell_bot {
    background-color: #fff;
    cursor: default;
  }
  .cell_actions {
    display: flex;
    justify-content: space-between;
  }
}
.cell--active {
  min-height: 130px;
  transform: scale(1.05) translateX(-30%);
  z-index: 2;
  box-shadow: 3px 0 6px $blueColor;
  .cell_top .time {
    background-color: $blueColor;
  }
}

.btn {
  padding: 0.2rem 0.4rem;
  border-width: 2px;
  font-size: 1rem;
  background-color: #fff;
  cursor: pointer;
  transition: $animationCell;
  &:disabled {
    opacity: 0.1;
    cursor: default;
    &:hover {
      color: initial;
      background-color: initial;
    }
  }
}
.btn--add {
  border-style: solid;
  border-color: transparent $greenColor;
  transform: skewX(20deg);
  text-transform: uppercase;
  color: $basicColor;
  background-color: #fff;
  .actions--fixed & {
    border-color: transparent;
    border-radius: 50%;
    transform: unset;
    font-size: 1.5rem;
    color: #fff;
    background-color: $greenColor;
    &:hover{
      color: $greenColor;
      background-color: #ffffff;
      box-shadow: 0 0 5px 2px $greenColor;
    }
    .btn_text{
      transform: unset;
    }
  }
  .btn_text {
    display: inline-block;
    transform: skewX(-20deg);
  }
  &:hover {
    color: #fff;
    background-color: $greenColor;
  }
  &:active {
    border: 2px solid $greenColor;
    color: $greenColor;
    background-color: #fff;
  }
}
.btn--delete {
  border-color: transparent;
  color: $redColor;
  &:hover {
    color: #fff;
    background-color: $redColor;
  }
}
.btn--edit {
  color: $blackColor;
  border-color: transparent $blackColor;
  &:hover {
    color: #fff;
    background-color: $blackColor;
  }
}
.btn--plus {
  color: $greenColor;
  .cell_top & {
    border-color: transparent transparent $greenColor;
  }
  .cell_bot & {
    border-color: $greenColor transparent transparent;
  }
  &:hover {
    color: #fff;
    background-color: $greenColor;
  }
}
.btn--minus {
  color: $redColor;
  .cell_top & {
    border-color: transparent transparent $redColor $redColor;
  }
  .cell_bot & {
    border-color: transparent transparent transparent $redColor;
  }
  &:hover {
    color: #fff;
    background-color: $redColor;
  }
}
.backgroundGrid {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
