<div
    *ngIf="isOpen"
    class="info">
    <div class="container">
        <h2 class="title skewX">Wybrana rezerwacja:</h2>
        <div class="reservation skewX">
            <p>
                {{reservation.timeStart}} - {{reservation.timeEnd}}, kort:
                    {{reservation.court === 'dressroom' ? 'Zapasowi' : reservation.court}},
                    {{reservation.user.firstName}}
                    {{reservation.user.lastName}}
            </p>
        </div>
        <div class="actions skewX">
            <button
                type="button"
                class="btn btn--cancle"
                (click)="cancleDrag()">
                <span>Anuluj</span>
            </button>
        </div>
    </div>
</div>
