$redColor: #b91616;
$greenColor: #509c1e;
$greyColor: #bbbbbb;
$blueColor: #4c9dfa;
$blackColor: #0a0a0a;
$yellowColor: #a89a16;
$animationHeight: 0.3s linear;
$animationBtn: 0.25s linear;

.info {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.container {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transform: skewX(-20deg);
    border: 3px solid $yellowColor;
    background-color: #fff;
    color: $blackColor;
    .skewX {
        transform: skewX(20deg);
    }
    .title {
        width: 100%;
        margin-bottom: 0.5rem;
        font-size: 1.1rem;
        text-align: center;
    }
    .reservation,
    .actions {
        margin-bottom: 0.3rem;
        text-align: center;
    }
    .reservation {
        padding: 0 1.1rem 0 1.2rem;
    }
    .btn {
        transform: skewX(20deg);
        padding: 0.3rem;
        border-style: none solid none solid;
        border-width: 2px;
        border-color: $yellowColor;
        background-color: transparent;
        color: $yellowColor;
        cursor: pointer;
        transition: 0.25s linear;
        span {
            display: inline-block;
            transform: skewX(-20deg);
        }
        &:focus,
        &:hover {
            color: #fff;
            background-color: $yellowColor;
        }
    }
}
