<div
    *ngIf="isOpen"
    class="info"
    [@visible]>
    <div class="container">
        <h2 class="title skewX">Wybrana rezerwacja:</h2>
        <div class="reservation skewX">
            <p>
                Godzina: {{reservation.timeStart}} - {{reservation.timeEnd}},
            </p>
            <p>
                Kort: {{reservation.court === 'dressroom' ? 'Zapasowi' : reservation.court}}
            </p>
            <p class="name">
                {{reservation.user.firstName}} {{reservation.user.lastName}}
            </p>
        </div>
        <div class="actions skewX">
            <button
                type="button"
                class="btn btn--cancle"
                (click)="cancleDrag()">
                <span>Anuluj</span>
            </button>
        </div>
    </div>
</div>
